.footer {
  background-color: $color-bg-dark-l;
  box-shadow: 0px -5px 20px 10px rgb(0 0 0 / 50%);  
  @extend %transition; 
  .light & {
    background-color: $color-bg-light;
    color: $color-bg-dark-l;  
    box-shadow: 0px -5px 20px 10px rgb(0 0 0 / 10%); 
  }
}

.footer__container {
  @include flex ($flex: flex, $wrap: nowrap, $justify: space-evenly); 
  padding: 15px 20px;
  @include media-mobile {    
    flex-direction: column;
    gap: 10px;
    padding: 25px 20px;
  }
}

footer a {
  color: $color-primary;
  &:hover {
    animation: shake 0.5s ease-in-out;
  }
}

.footer__item {
  width: 33%;  
  text-align: center;
  @include media-mobile {    
    width: 100%;
  }
}

.footer__item_link {
  @include flex ($flex: flex, $wrap: nowrap);
  @extend %transition;
  .light & {
    color: $color-additional;
  } 
}

.footer__item:nth-child(1) {
  @include flex ($flex: flex, $wrap: nowrap, $justify: flex-start); 
  @include media-mobile { 
    justify-content: center;
  }
}

.footer__item:nth-child(3) {
  @include flex ($flex: flex, $wrap: nowrap, $justify: flex-end); 
  @include media-mobile { 
    justify-content: center;
  }
}

.footer__item_github {
  width: 40px;
  padding-right: 10px; 
  @extend %transition;
  .light & {
    filter: brightness(0.5);
  } 
}

.footer__item_cv {
  width: 40px;
  justify-content: center;
  @extend %transition;
  .light & {
    filter: brightness(0.5);
  } 
}

.footer__item_rs-logo {
  width: 100px;
  @extend %transition;
  .light & {
    filter: brightness(0.5);
  } 
}