.projects__title_icon {
  background-image: url(../assets/icons/icon-projects.svg);
}

.project__items {
  @include flex ($flex: flex, $wrap: wrap); 
  gap: 4rem;
}

.project__item {
  width: calc(50% - 2rem);
  @include media-tablet {    
    width: 100%;
  }
}

.project__item_figure {
  position: relative;
  border-radius: 5px;
  overflow: hidden;   
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 35%);
  @extend %transition;
  .light & {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 25%);
  }
}

.project__item_figure-img {
  width: 100%;  
}

.project__item_figure-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 2.4rem;
  @include flex ($flex: flex, $wrap: nowrap, $justify: center);   
  color: $color-primary;
  background-color: $color-bg-dark-transparent;
  flex-direction: column;
  @extend %transition;
  transform: translateY(100%); 
  .project__item_figure:hover & {
    transform: translateY(0%); 
  }  
  .light & {
    color: $color-additional;
    background-color: $color-bg-light-transparent; 
  }
}

.project__item_figure-caption ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 20px; 
  @include media-tablet {    
    font-size: 80%;
    line-height: 80%;
  } 
}

.project__item_info {
  position: relative;
  @include flex ($flex: flex, $wrap: wrap, $justify: space-between); 
  & h3 {
    @include media-mobile {    
      font-size: 1.5rem;      
    } 
  }
}

.project__item_info-stack {
  @include flex ($flex: flex, $wrap: wrap, $justify: space-between); 
  gap: 0.5rem;
}

.project__item_info-stack img {
  width: 25px;
  @extend %transition;
  .light & {
    filter: brightness(0.5);
  } 
}

.project__title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  left: 0;
  bottom: 5px;
  background-color: $color-primary;
  @extend %transition;
  .light & {
    background-color: $color-additional;
  } 
  @include media-tablet {    
    display: none;
  }
}

.project__item:hover .project__title::after {
  width: 100%; 
}