.skills__title_icon {
  background-image: url(../assets/icons/icon-skills.svg);
}

.skills__items {
  @include flex ($flex: flex, $wrap: wrap, $justify: flex-start); 
  gap: 0.5em; 
  list-style: none;
  padding-inline-start: 0;
}

.skills__items li {
  padding: 5px 10px;
  color: $color-primary;
  border-radius: 5px;
  border: 2px solid $color-primary;
}