/* primary colors */

$color-primary: #8cddff;
$color-bg-dark: #0B0D11;
$color-bg-dark-l: #292A2E;
$color-bg-light: #ffffff;

$color-text-light: #eeeeee;


/* basic sizes */

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;