/* primary colors */

$color-primary: #8cddff;
$color-bg-dark: #0B0D11;
$color-bg-dark-l: #292A2E;

$color-text-light: #eeeeee;


$color-add: #003f32;
$color-shadow: #005c49;
$color-light: #00ffca;

$color-bg: #222222;

$color-text: #dddddd;

/* basic sizes */

$content-width: 1200px;