@import "~normalize.css";

@import "abstracts/constants";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/base";
@import "base/fonts";
@import "base/rainbow";

@import "components/header";
@import "components/menu";
@import "components/burger";
@import "components/contacts";
@import "components/skills";
@import "components/langs";
@import "components/intro";
@import "components/main";
@import "components/footer";











aside,
main {
    padding: 15px;
}





aside {
    width: 25%;
}

main {
    width: 75%;
}

section {
    display: block;
}


.content_text {
    font-size: 1em;
    line-height: 1.25em;
}

.content_text.p {
    margin: 0px 0px 20px 0px;
}

.content {
    padding: 80px 0px 0px 0px;
}







.work_photo {
    display: flex;
}

.photo-frame {
    position: absolute;
    left: 0;
    top: 10px;
    animation: screw 20000ms alternate infinite ease-out;
}

@media (max-width: 767px) {

    aside,
    main {
        width: 80%;
        margin: 0 auto;
    }
    .work_photo {
        display: block;
    }
    body.lock {
        overflow: hidden;
    }

    .header_body {
        height: 50px;
    }
    .header_logo {
        flex: 0 0 70px;
    }
    

}

@media (max-width: 420px) {
    aside,
    main {
        width: 90%;
        margin: 0 auto;
    }
    figure {
        margin-inline-start: 5px;
        margin-inline-end: 5px;
    }
}






.uducat {
    line-height: 2em;
}

#summary,
#education,
#languages {
    line-height: 1.5em;
}


.photo {
    position: relative;
}

.photo img {
    width: 100%;
}

h2,
h3,
h4,
#summary b {
    color: $color-primary;
}

section {
    padding-top: 10px;
}

hr {
    width: 50%;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
    display: inline-block;
    margin: 0 auto;
}

.colored {
    color: $color-primary;
    font-style: italic;
}

.single_img img,
.photo img {
    border-radius: 5px;
    width: 100%;
    /* box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 35%); */
}

figure {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video_block {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 35%);
}

summary {
    margin-top: 20px;
}

figcaption {
    font-style: italic;
}

pre {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 35%);
}

pre code.rainbow-show {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

pre code::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

pre code::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-primary;
}

pre code::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: transparent;
}

.docs_link {
    text-decoration: none;
    color: #e6e6e6;
}

.single_img a {
    text-decoration: none;
    color: $color-primary;
}

.link_block {
    padding-top: 15px;
}



ul>li>a {
    text-decoration: none;
    color: inherit;
}


ul>li>span>a {
    color: $color-primary;
    text-decoration: none;
    font-weight: 700;
}




@keyframes screw {
    0% {    
      transform: rotate(0deg);
    }    
    50% {
      transform: rotate(5deg);
    }     
    100% {    
      transform: rotate(0deg);
    }
  }