figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 0;
}

.project__item_figure-caption h4 {
  margin: 5px 0 15px;
  @include media-tablet {    
    margin: 0 0 5px;
  } 
}

.figure__caption li {
  @include flex ($flex: flex, $wrap: wrap, $justify: flex-start); 
}

.figure__caption_icon {
  background-image: url(../assets/icons/icon-checked.svg);
  width: 20px;
  @include media-tablet {    
    width: 15px;
  } 
}